.outer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: min(5vh, 5vw);
  color: #e8e6e3;
  background-color: #181a1b;
}

.inp {
  margin: 0 5rem;
  width: calc(100% - 10rem);
  font-family: 'Roboto', sans-serif;
  font-size: 5vh;
  text-align: center;
  border: #e8e6e3 solid 1px;
  border-radius: 10px;
  background-color: #181a1b;
  color: #e8e6e3;
}

.inp:focus {
  outline: none;
  background-color: #222;
}

.inp:hover {
  background-color: #222;
}

.sub {
  text-decoration: none;
  color: #e8e6e3;
  border-radius: 5px;
  margin: 0.5rem;
}

.sub:hover {
  background-color: #222;
}
.para {
  margin: 0.5rem;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}
